footer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  border-top: 1px solid #f5f7f8;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6px;
  margin: 0 10px 0 10px;
}

.footer-icons__img {
  width: 30px;
}

.footer-icons__desc {
  margin-top: 5px;
  font-size: 6px;
  transform: scale(0.8);
}
